<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script language="javascript" type="text/javascript">
    function sayhello(){
        alert("hello word")
    }

</script>

</head>
<body>
<h1>hi javascript</h1>
<input type="button" onclick="sayhello()" value="say hello"/>
<input type="text" name="age">
<script>
    var age1=age
    if(age1>18){
       document.write('age biger than 18')
    }
    else{
        document.write("age less 18")
    }

</script>

</body>
</html>